:root {
    --pine-bark: #352E1F;       
    --soft-leather: #5E3D20;   
    --dull-chestnut: #94724A;   
    --windy-dunes: #CCB693;     
    --olive-grove: #787350;   
    --deep-mahogany: #481911;   
    
    --sombra-ilha: 0 15px 25px rgba(0, 0, 0, 0.5); 
    --sombra-botao: 0 5px 0 var(--deep-mahogany); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url(../Imagens/nuvens.gif);
    font-family: 'Press Start 2P', monospace;
    color: var(--windy-dunes);
    min-height: 100vh;
    line-height: 1.6;
}


.cabecalho {
    background-color: var(--pine-bark); 
    padding: 40px 20px 20px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: relative; 
}

.cabecalho h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--windy-dunes);
}

.cabecalho p {
    font-size: 0.8em;
    opacity: 0.8;
    margin-bottom: 30px;
}

.botoes-cabecalho {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botao-flutuante {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--windy-dunes);
    color: var(--pine-bark);
    text-decoration: none;
    font-size: 0.7em;
    border: 3px solid var(--deep-mahogany);
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    
   
    box-shadow: var(--sombra-botao);
    position: relative;
    top: 0;
    transition: all 0.1s;
}

.botao-flutuante:hover {
    background-color: white; 
    color: var(--deep-mahogany);
}

.botao-flutuante:active {
    /* Efeito de clique*/
    top: 5px;
    box-shadow: 0 0 0 var(--deep-mahogany);
}

.botao-flutuante i.fas {
    margin-right: 5px;
}


.container-mapa {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-ilhas {
    position: relative;
    width: 100%;
}

/* Estilo para cada ilha flutuante */
.ilha {
    position: absolute;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    

 
    
    /* Inicia a animação */
    animation: flutuar 4s infinite ease-in-out;
}

.ilha:hover {
    transform: scale(1.1) translateY(0px) !important; 
    
}

.ilha img {
    display: block;
    max-width: 100%;
    height: auto;

}



.ilha-1 {
    width: 200px;
    top: 15px;
    left: 0%;
    transform: translateY(0);
    animation-delay: 0s;
}

.ilha-2 { 
    width: 250px;
    top: 0px;
    right: 5%;
    transform: translateY(0);
    animation-delay: 1.5s;
}

.ilha-3 { 
    width: 450px;
    top: 140px;
    left: 50%;
    transform: translateY(0);
    animation-delay: 3s;
}

.ilha-4 { 
    width: 270px;
    top: 100px;
    left: 25%;
    transform: translateY(0);
    animation-delay: 0.5s;
}


@keyframes flutuar {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
}