body {
  margin: 0;
  height: 100vh;
  background: url("../../Imagens/paisagens/paisagem_amarelo.gif") center/cover no-repeat;
  font-family: 'Press Start 2P', monospace; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  text-align: center;
}


.titulo {
  font-size: 60px;
  color: #49037f;
  margin-bottom: 25px;
  letter-spacing: 3px;

    -webkit-text-stroke: 1.5px #000; 
}

.card {
  position: relative;
  background-color: #daaf2f;
  padding: 40px 20px;
  width: 650px;
  height: 490px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.estrela-grande {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 170px;
  height: auto;
}

.info {
  margin-top: 80px;
  margin-bottom: 25px;
}

.label {
  font-size: 0.7rem;
  margin: 5px 0 0;
  color: #fff;
}

.valor {
  margin: 3px 0 15px;
}

.nome {
  font-size: 1rem;
  color: #49037f;
}

.especie {
  font-size: 1.2rem;
  color: #49037f;
}

.xp-bar {
  position: relative;
  width: 85%;
  height: 15px;
  background-color: #fff;
  margin: 25px auto;
  border-radius: 3px;
  overflow: hidden;
}

.preenchido {
  width: 90%;
  height: 100%;
  background-color: #49037f;
}

.texto-barra {
  position: absolute;
  right: 5px;
  top: -22px;
  font-size: 0.7rem;
  color: #fff;
}

/* Seção de conquistas */
.conquistas-titulo {
  margin-top: 25px;
  color: #49037f;
  font-size: 20px;
}

.conquistas {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 10px;
}

.conquistas img {
  width: 45px;
  height: auto;
}