:root {
  --marrom-pinheiro: #352E1F;          
  --amarelo-areia: #CCB693;       
  --marrom-vinho: #481911;   
  
  --sombra-ilha: 0 15px 25px rgba(0, 0, 0, 0.5); 
  --sombra-botao: 0 5px 0 var(--marrom-vinho); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../Imagens/nuvens.gif);
  font-family: 'Press Start 2P', monospace;
  color: var(--amarelo-areia);
  min-height: 100vh;
  line-height: 1.6;
}

.cabecalho {
  background-color: var(--marrom-pinheiro); 
  padding: 40px 20px 20px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: relative; 
}

.cabecalho h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--amarelo-areia);
}

.cabecalho p {
  font-size: 0.8em;
  opacity: 0.8;
  margin-bottom: 30px;
}

.botoes-cabecalho {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botao-flutuante {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--amarelo-areia);
  color: var(--marrom-pinheiro);
  text-decoration: none;
  font-size: 0.7em;
  border: 3px solid var(--marrom-vinho);
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: var(--sombra-botao);
  position: relative;
  top: 0;
  transition: all 0.1s;
}

.botao-flutuante:hover {
  background-color: white; 
  color: var(--marrom-vinho);
}

.botao-flutuante:active {
  top: 5px;
  box-shadow: 0 0 0 var(--marrom-vinho);
}

.botao-flutuante i.fas {
  margin-right: 5px;
}

.mapa {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa-ilhas {
  position: relative;
  width: 100%;
}


.ilha {
  position: absolute;
  display: block;
  cursor: pointer;
  transition: transform 0.6s ease-in-out, filter 0.4s ease, box-shadow 0.4s ease;
  animation: flutuar 4s infinite ease-in-out;
  transform-origin: center center; /* cresce do centro */
}

/* Quando o mouse passa */
.ilha:hover {
  transform: scale(1.3) translateY(-10px);
  filter: brightness(1.2) saturate(1.3);
  z-index: 15;

  animation: respirar 2s infinite ease-in-out;
}

/* Efeito “respirando” (cresce e encolhe suavemente) */
@keyframes respirar {
  0%, 100% {
    transform: scale(1.3) translateY(-10px);
  }
  50% {
    transform: scale(1.35) translateY(-12px);
  }
}

.ilha img {
  display: block;
  max-width: 100%;
  height: auto;
}

.ilha-1 {
  width: 200px;
  top: 15px;
  left: 0%;
  animation-delay: 0s;
}

.ilha-2 { 
  width: 250px;
  top: 0px;
  right: 5%;
  animation-delay: 1.5s;
}

.ilha-3 { 
  width: 200px;
  top: 140px;
  left: 58%;
  transform: translateX(-50%);
  animation-delay: 3s;
}

.ilha-4 { 
  width: 270px;
  top: 100px;
  left: 25%;
  animation-delay: 0.5s;
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
