body {
  margin: 0;
  height: 100vh;
  background-image: url("../Imagens/fundodoscard.PNG"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.coluna {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto {
  max-width: 70%;       
  max-height: 70%;      
  width: 50vh;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain;  /* mantém proporção da imagem */
}

.foto:hover {
   transform: scale(1.1)translatez(100px);
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

#samela{
  background-color: #6b421e;
  width: 200vh;
  height: 85vh;;
  transform: translateX(28%);
}

#sophia{
  background-color: #501e14;
  width: 150vh;
  height: auto;
  transform: translateX(18%);
}

#rebeca{
  background-color: #91895e;
  width: 150vh;
  height: 85vh;
  transform: translateX(15%);
}